# This file may be used to create an environment using: 
# $ conda create --name <env> --file <this file> 
# platform: win-64 
affine 
alabaster 
anyio 
appdirs 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
babel 
backcall 
backports 
backports.functools_lru_cache 
beautifulsoup4 
bleach 
blosc 
boost-cpp 
branca 
brotli 
brotli-bin 
brotlipy 
bzip2 
ca-certificates 
cairo 
certifi 
cffi 
cfitsio 
charset-normalizer 
click 
click-plugins 
cligj 
colorama 
comm 
contourpy 
cryptography 
curl 
cycler 
debugpy 
decorator 
defusedxml 
dill 
docutils 
entrypoints 
executing 
expat 
fiona 
flit-core 
folium 
font-ttf-dejavu-sans-mono 
font-ttf-inconsolata 
font-ttf-source-code-pro 
font-ttf-ubuntu 
fontconfig 
fonts-conda-ecosystem 
fonts-conda-forge 
fonttools 
freetype 
freexl 
gdal 
geopandas 
geopandas-base 
geos 
geotiff 
gettext 
hdf4 
hdf5 
icu 
idna 
imagesize 
importlib-metadata 
importlib-resources 
importlib_metadata 
importlib_resources 
intel-openmp 
ipykernel 
ipython 
ipython_genutils 
jedi 
jinja2 
joblib 
jpeg 
json5 
jsonschema 
jupyter_client 
jupyter_core 
jupyter_events 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab_pygments 
jupyterlab_server 
kealib 
kiwisolver 
krb5 
lcms2 
lerc 
libaec 
libblas 
libbrotlicommon 
libbrotlidec 
libbrotlienc 
libcblas 
libcurl 
libdeflate 
libffi 
libgdal 
libglib 
libhwloc 
libiconv 
libkml 
liblapack 
libnetcdf 
libpng 
libpq 
librttopo 
libsodium 
libspatialindex 
libspatialite 
libsqlite 
libssh2 
libtiff 
libwebp-base 
libxcb 
libxml2 
libzip 
libzlib 
lz4-c 
m2w64-gcc-libgfortran 
m2w64-gcc-libs 
m2w64-gcc-libs-core 
m2w64-gmp 
m2w64-libwinpthread-git 
mapclassify 
markupsafe 
matplotlib-base 
matplotlib-inline 
mistune 
mkl 
msys2-conda-epoch 
multiprocess 
munch 
munkres 
nbclassic 
nbclient 
nbconvert 
nbconvert-core 
nbconvert-pandoc 
nbformat 
nest-asyncio 
networkx 
notebook 
notebook-shim 
numpy 
openjpeg 
openssl 
packaging 
pandas 
pandoc 
pandocfilters 
parso 
pathos 
pcre2 
pickleshare 
pillow 
pip 
pipdeptree 
pixman 
pkgutil-resolve-name 
platformdirs 
pooch 
poppler 
poppler-data 
postgresql 
pox 
ppft 
proj 
prometheus_client 
prompt-toolkit 
psutil 
pthread-stubs 
pthreads-win32 
pure_eval 
pycparser 
pygments 
pyopenssl 
pyparsing 
pyproj 
pyrsistent 
pysocks 
python 
python-dateutil 
python-fastjsonschema 
python-json-logger 
python_abi 
pytz 
pywin32 
pywinpty 
pyyaml 
pyzmq 
rasterio 
reportlab 
requests 
rfc3339-validator 
rfc3986-validator 
rtree 
scikit-learn 
scipy 
send2trash 
setuptools 
shapely 
six 
snappy 
sniffio 
snowballstemmer 
snuggs 
soupsieve 
sphinx 
sphinx-rtd-theme 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jquery 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
sqlite 
stack_data 
tbb 
terminado 
threadpoolctl 
tiledb 
tinycss2 
tk 
tomli 
tornado 
traitlets 
typing-extensions 
typing_extensions 
tzdata 
ucrt 
unicodedata2 
urllib3 
vc 
vs2015_runtime 
wcwidth 
webencodings 
websocket-client 
wheel 
win_inet_pton 
winpty 
xerces-c 
xorg-libxau 
xorg-libxdmcp 
xyzservices 
xz 
yaml 
zeromq 
zipp 
zlib 
zstd 
